apiVersion: dataprepper.kaasops.io/v1alpha1
kind: DataPrepperPipeline
metadata:
  name: e2e-kafka-manual
  namespace: {{ .Namespace }}
spec:
  image: opensearchproject/data-prepper:2.10.0
  pipelines:
    - name: kafka-to-stdout
      source:
        kafka:
          bootstrapServers:
            - "{{ .BootstrapServers }}"
          topic: {{ .Topic }}
          groupId: dp-e2e-manual
          encryptionType: none
      sink:
        - stdout: {}
  scaling:
    mode: manual
    fixedReplicas: 2
