apiVersion: dataprepper.kaasops.io/v1alpha1
kind: DataPrepperPipeline
metadata:
  name: e2e-kafka-scaling-12p-workers
  namespace: {{ .Namespace }}
spec:
  image: opensearchproject/data-prepper:2.10.0
  pipelines:
    - name: kafka-to-stdout
      workers: 2
      source:
        kafka:
          bootstrapServers:
            - "{{ .BootstrapServers }}"
          topic: {{ .Topic }}
          groupId: dp-e2e-scaling-12p-workers
          encryptionType: none
      sink:
        - stdout: {}
  scaling:
    mode: auto
    maxReplicas: 3
