apiVersion: dataprepper.kaasops.io/v1alpha1
kind: DataPrepperPipeline
metadata:
  name: e2e-secret-watch
  namespace: {{ .Namespace }}
spec:
  image: opensearchproject/data-prepper:2.10.0
  pipelines:
    - name: kafka-creds-test
      source:
        kafka:
          bootstrapServers:
            - "{{ .BootstrapServers }}"
          topic: __consumer_offsets
          groupId: dp-e2e-creds
          credentialsSecretRef:
            name: e2e-kafka-creds
      sink:
        - stdout: {}
