apiVersion: dataprepper.kaasops.io/v1alpha1
kind: DataPrepperSourceDiscovery
metadata:
  name: e2e-discovery-exclude
  namespace: {{ .Namespace }}
spec:
  kafka:
    bootstrapServers:
      - "{{ .BootstrapServers }}"
    topicSelector:
      prefix: "e2e-excl-"
      excludePatterns:
        - "e2e-excl-internal-*"
    pollInterval: "10s"
    cleanupPolicy: Delete
  pipelineTemplate:
    spec:
      image: opensearchproject/data-prepper:2.10.0
      pipelines:
        - name: "{{ "{{" }} .DiscoveredName {{ "}}" }}-pipeline"
          source:
            kafka:
              bootstrapServers:
                - "{{ .BootstrapServers }}"
              topic: "{{ "{{" }} .DiscoveredName {{ "}}" }}"
              groupId: "dp-{{ "{{" }} .DiscoveredName {{ "}}" }}"
              encryptionType: none
          sink:
            - stdout: {}
